body {
  margin: 1rem;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr;
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr 0.5rem 1fr;
  grid-template-rows: repeat(6, 1fr);
  margin: 1rem;
  gap: 0.5rem;
  padding: 0;
}

.gallery > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.gallery > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.gallery > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.gallery > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.gallery > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.gallery > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.gallery > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}

.gallery > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}

.gallery > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 17;
}

.gallery > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 19;
}

.gallery > *:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 21;
}

.gallery > *:nth-child(12) {
  -ms-grid-row: 1;
  -ms-grid-column: 23;
}

.gallery > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.gallery > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.gallery > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.gallery > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.gallery > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.gallery > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}

.gallery > *:nth-child(19) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}

.gallery > *:nth-child(20) {
  -ms-grid-row: 3;
  -ms-grid-column: 15;
}

.gallery > *:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 17;
}

.gallery > *:nth-child(22) {
  -ms-grid-row: 3;
  -ms-grid-column: 19;
}

.gallery > *:nth-child(23) {
  -ms-grid-row: 3;
  -ms-grid-column: 21;
}

.gallery > *:nth-child(24) {
  -ms-grid-row: 3;
  -ms-grid-column: 23;
}

.gallery > *:nth-child(25) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.gallery > *:nth-child(26) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.gallery > *:nth-child(27) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.gallery > *:nth-child(28) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.gallery > *:nth-child(29) {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
}

.gallery > *:nth-child(30) {
  -ms-grid-row: 5;
  -ms-grid-column: 11;
}

.gallery > *:nth-child(31) {
  -ms-grid-row: 5;
  -ms-grid-column: 13;
}

.gallery > *:nth-child(32) {
  -ms-grid-row: 5;
  -ms-grid-column: 15;
}

.gallery > *:nth-child(33) {
  -ms-grid-row: 5;
  -ms-grid-column: 17;
}

.gallery > *:nth-child(34) {
  -ms-grid-row: 5;
  -ms-grid-column: 19;
}

.gallery > *:nth-child(35) {
  -ms-grid-row: 5;
  -ms-grid-column: 21;
}

.gallery > *:nth-child(36) {
  -ms-grid-row: 5;
  -ms-grid-column: 23;
}

.gallery > *:nth-child(37) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.gallery > *:nth-child(38) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.gallery > *:nth-child(39) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.gallery > *:nth-child(40) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}

.gallery > *:nth-child(41) {
  -ms-grid-row: 7;
  -ms-grid-column: 9;
}

.gallery > *:nth-child(42) {
  -ms-grid-row: 7;
  -ms-grid-column: 11;
}

.gallery > *:nth-child(43) {
  -ms-grid-row: 7;
  -ms-grid-column: 13;
}

.gallery > *:nth-child(44) {
  -ms-grid-row: 7;
  -ms-grid-column: 15;
}

.gallery > *:nth-child(45) {
  -ms-grid-row: 7;
  -ms-grid-column: 17;
}

.gallery > *:nth-child(46) {
  -ms-grid-row: 7;
  -ms-grid-column: 19;
}

.gallery > *:nth-child(47) {
  -ms-grid-row: 7;
  -ms-grid-column: 21;
}

.gallery > *:nth-child(48) {
  -ms-grid-row: 7;
  -ms-grid-column: 23;
}

.gallery > *:nth-child(49) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

.gallery > *:nth-child(50) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

.gallery > *:nth-child(51) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}

.gallery > *:nth-child(52) {
  -ms-grid-row: 9;
  -ms-grid-column: 7;
}

.gallery > *:nth-child(53) {
  -ms-grid-row: 9;
  -ms-grid-column: 9;
}

.gallery > *:nth-child(54) {
  -ms-grid-row: 9;
  -ms-grid-column: 11;
}

.gallery > *:nth-child(55) {
  -ms-grid-row: 9;
  -ms-grid-column: 13;
}

.gallery > *:nth-child(56) {
  -ms-grid-row: 9;
  -ms-grid-column: 15;
}

.gallery > *:nth-child(57) {
  -ms-grid-row: 9;
  -ms-grid-column: 17;
}

.gallery > *:nth-child(58) {
  -ms-grid-row: 9;
  -ms-grid-column: 19;
}

.gallery > *:nth-child(59) {
  -ms-grid-row: 9;
  -ms-grid-column: 21;
}

.gallery > *:nth-child(60) {
  -ms-grid-row: 9;
  -ms-grid-column: 23;
}

.gallery > *:nth-child(61) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}

.gallery > *:nth-child(62) {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}

.gallery > *:nth-child(63) {
  -ms-grid-row: 11;
  -ms-grid-column: 5;
}

.gallery > *:nth-child(64) {
  -ms-grid-row: 11;
  -ms-grid-column: 7;
}

.gallery > *:nth-child(65) {
  -ms-grid-row: 11;
  -ms-grid-column: 9;
}

.gallery > *:nth-child(66) {
  -ms-grid-row: 11;
  -ms-grid-column: 11;
}

.gallery > *:nth-child(67) {
  -ms-grid-row: 11;
  -ms-grid-column: 13;
}

.gallery > *:nth-child(68) {
  -ms-grid-row: 11;
  -ms-grid-column: 15;
}

.gallery > *:nth-child(69) {
  -ms-grid-row: 11;
  -ms-grid-column: 17;
}

.gallery > *:nth-child(70) {
  -ms-grid-row: 11;
  -ms-grid-column: 19;
}

.gallery > *:nth-child(71) {
  -ms-grid-row: 11;
  -ms-grid-column: 21;
}

.gallery > *:nth-child(72) {
  -ms-grid-row: 11;
  -ms-grid-column: 23;
}

img {
  height: 100%;
  width: 100%;
}

.gallery__item-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  margin-bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__item-2 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 6;
  grid-column: 5/11;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__item-3 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__item-4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__item-5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 6;
  grid-column: 3/9;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__item-6 {
  -ms-grid-column: 9;
  -ms-grid-column-span: 2;
  grid-column: 9/11;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__item-7 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11/13;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__item-8 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__item-9 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__item-10 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4/7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__item-11 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__item-12 {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9/13;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.gallery__item-1:hover {
  opacity: 50%;
}
.gallery__item-2:hover {
  opacity: 50%;
}
.gallery__item-3:hover {
  opacity: 50%;
}
.gallery__item-4:hover {
  opacity: 50%;
}
.gallery__item-5:hover {
  opacity: 50%;
}
.gallery__item-6:hover {
  opacity: 50%;
}
.gallery__item-7:hover {
  opacity: 50%;
}
.gallery__item-8:hover {
  opacity: 50%;
}
.gallery__item-9:hover {
  opacity: 50%;
}
.gallery__item-10:hover {
  opacity: 50%;
}
.gallery__item-11:hover {
  opacity: 50%;
}
.gallery__item-12:hover {
  opacity: 50%;
}
/*# sourceMappingURL=main.css.map */